body {
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}


h4 {
  color: white
}

select {
  width: auto !important;
}

.btn {
  padding-top: 10px;
}

.navigation {
  /*copying navbar-default*/
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-bottom: 4px solid #e7e7e7;
}

.navs {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.navs > * {
  list-style: none;
  margin: 0 5px;
  display: inline-flex;
  padding: 5px;
}

.navs > a {
  /*background-color:darkgrey;*/
  padding: 6px;
}
.navs > a > span {
  padding: 2px;
}

.search-box {
  width: 250px;
  margin-left: auto;
}

.user-profile-link {
  width: 32px;
  height: 32px;
}

.question-list-item {
  background-color: rgba(211, 211, 211, 0.1);
  border-bottom: 1px solid #eeeeee;
  padding: 5px 5px 15px 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.red {
  color: red;
}

.trend {
  background-color: rgba(51, 51, 51, 0.3);
}

.question-summary {
  width: 150px;
}

.question-content {
  /*width: 70%;*/
  flex-grow: 1;
}

div.thumbnail {
  background-color: rgba(77,46,25,.6)!important;

}

div.caption {
  color: white !important;
}

.question-page-item {
  background-color: rgba(51, 51, 51, 0.3);
  /*border-top: 1px solid lightgray;*/
  /*border-bottom: 1px solid lightgray;*/
  padding: 5px 5px 15px 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-content: center;
}

.answer-page-item {
  /*border-top: 1px solid lightgray;*/
  /*border-bottom: 1px solid lightgray;*/
  padding: 15px 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #eeeeee;
}

.question-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  margin-left: 15px;
  margin-right: 15px;
}

/*.answer {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*align-content: center;*/
  /*background-color: green;*/
/*}*/

.answer-votes {
  width: 100px;

}

.answer-content {
  flex-grow: 1;
}

.tag, .course {
  padding: 10px;
  background-color: lightblue;
  display: inline-block;
}

.dropdown-label {
  text-align: right;
  padding: 10px 5px;
}

.dropdown-form * {
  display: inline-block;
}


/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
  width: 90%;
  height: 90%;
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  /*background: url(http://all4desktop.com/data_images/original/4238051-background.jpg);*/
  background: url(http://www.planwallpaper.com/static/images/518079-background-hd.jpg);

}

html {
  width: 100%;
  height: 100%;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}*/

/*p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
*/

a {
  color: #42dca3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #000;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(255,255,255,.8);
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: red;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}


.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100%!important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 100px;
}



.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid #42dca3;
  color: #42dca3;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42dca3;
  outline: 0;
  color: #000;
  background-color: #42dca3;
}

ul.banner-social-buttons {
  margin-top: 0;
}



footer {
  padding: 50px 0;
}

footer p {
  margin: 0;
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.titler {
  color: green;
  padding-bottom: 3px;
}

.prod {
  display: inline-block;
}

.row-eq-height-md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-direction: column;
}
.usertag {
  font-size: 75%;
  font-color: blue;
  font-weight: bold;
}
.bigrev {
  width: 100%;
}

.masonry { /* Masonry container */
    column-count: 0;
    /*column-gap: 1em;*/
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    /*margin: 0 0 1em;*/
    width: 100%;
}

/*body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    margin: 0;
    background: #e9e9e9;
}*/

.wrapper {
    width: 95%;
    /*margin: 3em auto;*/
}

.masonry {
    /*margin: 1.5em 0;*/
    padding: 0;
    /*-moz-column-gap: 1.5em;*/
    /*-webkit-column-gap: 1.5em;*/
    /*column-gap: 1.5em;*/
}

.pin {
    display: inline-block;
    /*margin: 0 0 1.5em;*/
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*box-shadow: 2px 2px 4px 0 #ccc;*/
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}


