<div ng-module='boorish.questions' >
  <div class="col-md-10">
  <h3>Products</h3>

    <hr>
<!-- products -->
      <div  class="row" style="display:flex; flex-wrap: wrap;">
        <div ng-repeat='question in questions | filter:searchText | orderBy:"-like_count"' class="col-md-4 prod">
        <!-- <div class="col-sm-12"> -->
          <div class="thumbnail">
            <img src="{{question.thumbnail_url}}">
            <div class="caption">
              <h3><a ng-href='#/products/{{ question.id }}'>{{ question.title }}</a></h3>
              <!-- <h3 class="titler">{{question.title}}</h3> -->
              <p>{{question.provider_name}}</p>
              <p>{{question.provider_url}}</p>
              <p><a href="{{question.url}}" class="btn btn-primary" role="button">Visit</a> <a href='#/products/{{ question.id }}' class="btn btn-default" role="button">Review</a>
              <button type="button" class="btn" ng-click="giveLike(question.id)"><span class="glyphicon glyphicon-thumbs-up"></span></button><span ng-if="question.like_count!==1"> {{question.like_count}} likes</span><span ng-if="question.like_count===1"> {{question.like_count}} like</span></p>
              <!--<button type="button" class="btn btn-danger" ng-click="giveLike(question.id)">></button>-->
              
              <img ng-src="{{ question.imgUrl }}0" width="20" height="20">
              <span class="usertag">{{ question.user }}</span>
              <p class="usertag">{{ question.createdAt | date:"MM/dd/yyyy h:mma"}}</p>
            </div>
          </div>
        </div>
      </div>
    

  <!--<hr>-->
  </div>
  <div class="col-md-2">
      <!-- <h4>Trending</h4> -->
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active" ng-click="getTrends(); isTrend=true">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Trends
        </label>
        <label class="btn btn-primary" ng-click="getMostTalkedAbout(); isTrend=false">
          <input type="radio" name="options" id="option2" autocomplete="off">Talk
        </label>
      </div>
      <hr>

      <div ng-repeat='trend in trending | filter:searchText' class="trend">
      <div class="col-lg-12">
              <h3>
                  <a ng-href='#/products/{{ trend.id }}'>{{ trend.title }}</a>
              </h3>
              <p ng-if="isTrend">{{trend.like_count}} likes</p>
              <p ng-if="!isTrend">{{trend.response_count}} responses</p>
      </div>
      </div>
  </div>
</div>


          <!--text: question.text,-->
          <!--isAnAnswer: false,-->
          <!--points: question.points,-->
          <!--responses: question.responses,-->
          <!--isAnswered: question.isAnswered,-->
          <!--isGood: question.isGood,-->
          <!--isClosed: question.isClosed,-->
          <!--createdAt: question.createdAt,-->
          <!--coursename: question.Course.name,-->
          <!--tagname: question.Tag.name,-->
          <!--user: question.User.name-->