<div ng-module='boorish.questions' >
  <div class="col-md-10">
  <h3>Products</h3>

    <hr>
<!-- nicks test -->
      <div  class="row" style="display:flex; flex-wrap: wrap;">
        <div ng-repeat='question in questions | filter:searchText | orderBy:"-like_count"' class="col-md-4 prod">
        <!-- <div class="col-sm-12"> -->
          <div class="thumbnail">
            <img src="{{question.thumbnail_url}}">
            <div class="caption">
              <h3><a ng-href='#/products/{{ question.id }}'>{{ question.title }}</a></h3>
              <!-- <h3 class="titler">{{question.title}}</h3> -->
              <p>{{question.provider_name}}</p>
              <p>{{question.provider_url}}</p>
              <p><a href="{{question.url}}" class="btn btn-primary" role="button">Visit</a> <a href="#" class="btn btn-default" role="button">Add Tag</a></p>
              <button type="button" class="btn btn-success" ng-click="upvote(question.id)"><</button>
              <button type="button" class="btn btn-danger">></button>
              <span>{{question.like_count}} likes</span>
              <br>
              <br>
              <img ng-src="{{ question.imgUrl }}0" width="20" height="20">
              <span class="usertag">{{ question.user }}</span>
              <p class="usertag">{{ question.createdAt | date:"MM/dd/yyyy h:mma"}}</p>
            </div>
          </div>
        </div>
      </div>
    
<!-- nicks test end  -->
      <div ng-repeat='question in questions | filter:searchText | orderBy:"-createdAt"' class="question-list-item">
        <div class="col-sm-2 col-xs-3">
          <div>
            <img ng-src="{{ question.imgUrl }}0" width="50" height="50">
          </div>
          <!-- number of points current on question -->
          <div>
            <span class="glyphicon glyphicon-heart"></span>
            <span>{{ question.points }}</span>
            <span>Likes</span>
          </div>

          <!-- number of answers current on question -->
          <div>
            <span class="glyphicon glyphicon-comment"></span>
            <span>{{ question.responses }}</span>
            <span>Answers</span>
          </div>
          <!-- link to question id. Title is currently the first 60 characters in the text -->
        </div>
        <div class="col-sm-10 col-xs-9">
          <h3>
            <a ng-href='#/products/{{ question.id }}'>{{ question.title }}</a>
            <span class="glyphicon glyphicon-ok-sign" ng-if="question.isGood == true"></span>
          </h3>

          <div class="Title">{{ question.coursename }}</div>
          <div class="tag">{{ question.tagname }}</div>
              <div>- asked by {{ question.user }} at {{ question.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</div>
        </div>
        <hr>
      </div>
  <!--<hr>-->
  </div>
  <div class="col-md-2">
      <h4>Trending</h4>
      <hr>

      <div ng-repeat='trend in questions | filter:searchText | orderBy:"-points"' class="trend">
      <div class="col-lg-12">
         <!--  <div class="col-xs-4">
              <div>
                  <img ng-src="{{ trend.imgUrl }}0" width="30" height="30">
              </div> -->
              <!-- number of points current on question -->
             <!--  <div>
                  <span class="glyphicon glyphicon-heart"></span>
                  <span>{{ trend.points }}</span>
                  <span>Likes</span>
              </div> -->

              <!-- number of answers current on question -->
              <!-- link to question id. Title is currently the first 60 characters in the text -->
          <!-- </div> -->
          <div class="col-sm-8">
              <h3>
                  <a ng-href='#/products/{{ trend.id }}'>{{ trend.title }}</a>
              </h3>

              <div class="Title">{{ trend.coursename }}</div>
          </div>
          <hr>
          <br><br>
      </div>
      </div>
  </div>
</div>


          <!--text: question.text,-->
          <!--isAnAnswer: false,-->
          <!--points: question.points,-->
          <!--responses: question.responses,-->
          <!--isAnswered: question.isAnswered,-->
          <!--isGood: question.isGood,-->
          <!--isClosed: question.isClosed,-->
          <!--createdAt: question.createdAt,-->
          <!--coursename: question.Course.name,-->
          <!--tagname: question.Tag.name,-->
          <!--user: question.User.name-->