<div ng-module='boorish.answers'>
  <div ng-model='data.question' class="question-page-item">
    <div class="answer-content">
      <div class="question-header">
        <!-- <h3 class="">
          {{ data.question.title }}

          <span class="glyphicon glyphicon-ok-sign" ng-if="data.question.isGood == true"></span>
        </h3> -->
        <!-- nick test -->
        <div  class="row ">
          <div class="col-md-4 prod bigrev">
            <div class="thumbnail">
              <img src="{{data.question.thumbnail_url}}">
              <div class="caption">
                <h3><a ng-href='#/products/{{ data.question.id }}'>{{ data.question.title }}</a></h3>
                <p>{{data.question.provider_name}}</p>
                <p>{{data.question.provider_url}}</p>
                <p><a href="{{data.question.url}}" class="btn btn-primary" role="button">Visit</a> <a href='#/products/{{ data.question.id }}' class="btn btn-default" role="button">Review</a></p>
                <button type="button" class="btn btn-success" ng-click="giveLike(data.question.id)"><</button>
                <button type="button" class="btn btn-danger" ng-click="giveLike(data.question.id)">></button>
                <span>{{data.question.like_count}} likes</span>
                <br>
                <br>
                <img ng-src="{{ data.question.imgUrl }}0" width="20" height="20">
                <span class="usertag">{{ data.question.user }}</span>
                <p class="usertag">{{ data.question.createdAt | date:"MM/dd/yyyy h:mma"}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- nick test end -->
        <!-- <div class="dropdown" style="margin-left: auto">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Mark
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="" type='submit' ng-click='updateQuestion("good")'>Approved</a></li>
            <li><a href="" type='submit' ng-click='updateQuestion("answered")'>Answered</a></li>
          </ul>
        </div> -->
      </div>
      <!--<hr>-->
      <!-- <div class="col-xs-3">
        <div>
          <img ng-src="{{ data.question.imgUrl }}0" width="64" height="64">
        </div>
        
        <a href="" type='submit'  ng-click='updateQuestion("like")'>
          <span class="glyphicon glyphicon-heart"></span>
          <span>{{ data.question.points }}</span>
          <span>Likes</span>
        </a>
      </div> -->
      <!-- <div class="col-xs-9">
        <div>{{ data.question.text }}</div>
        <div>- {{ data.question.user }}</div>
        <div class="course">{{ data.question.coursename }}</div>
        <div class="tag">{{ data.question.tagname }}</div>
        <input class="btn btn-default pull-right" type='submit' ng-click='removeQuestion(data.question.id)' value='Remove'>
      </div> -->
    </div>
  </div>

   <div ng-model='data.answers'>
     <div class="answer-content">
      <h3>{{data.answers.length}} Reviews</h3>
      <hr>
      <div ng-repeat='answer in data.answers' class="answer-page-item">
        <div class="col-xs-3">
          <div>
            <img ng-src="{{ answer.imgUrl }}0" width="64" height="64">
          </div>
          <div>
            <a href="" type='submit'  ng-click='updateAnswer($index, "like")'>
              <span class="glyphicon glyphicon-heart" ng-click="giveLike(answer.id)"></span>
              <span>{{ answer.like_count }}</span>
              <span>Likes</span>
            </a>
          </div>
          <div>
            <a href="" type='submit'  ng-click='updateAnswer($index, "good")'>
              <span class="glyphicon glyphicon-ok-sign ng-scope"></span>
              <span>{{ answer.isGood }}</span>
              <!--<span>Likes</span>-->
            </a>
          </div>
          <!--<input class="btn btn-default" type='submit' ng-click='updateAnswer($index, "good")' value='Good'>-->
          <!-- <input type='submit' ng-click='updateAnswer($index, "answered")' value='Answered'> -->
        </div>
        <div class="col-xs-9">
          <div>{{ answer.text }}</div>
          <div>- {{ answer.user }}</div>
          <!--<div>{{ answer.isGood }}</div>-->
          <input class="btn btn-default pull-right" type='submit' ng-click='removeAnswer($index)' value='remove'>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3>Your Review</h3>
    <form>
      <div class="form-group">
        <textarea class="form-control" rows='5' cols='80' ng-model='newAnswer.text' maxlength="255" ng-trim="false"  placeholder='Write your answer'></textarea>
        <span>Characters left: {{255 - newAnswer.text.length}}</span>
      </div>
      <div class="form-group pull-right">
        <input class="btn btn-default" type='reset' value='Cancel'>
        <input class="btn btn-primary" type='submit' ng-click='addAnswer()' value='Submit answer'>
      </div>
    </form>
  </div>
</div>
